.consolidate-data-wrapper{

}
.consolidate-data-wrapper-title{
  margin: 10px;
  font-weight: bold;
}
.consolidate-select{
  margin: 10px;
  display: flex;
  justify-content: space-between;

}
.consolidate-dates-wrapper{
  display: flex;
  justify-content: space-between;
}
.consolidate-button-wrapper{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.consolidate-button{
}
