.uploadButton{
    background-color: #01bc4f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 20%;
    width: 200px;
    border-radius: 8px;
    
}